{% extends "spanishapp/base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="confirm-card">
    <h2>Reset your Password</h2>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>New Password</label>
            {{ form.new_password1 }}
        </p>
        <p>
            <label>Confirm New Password</label>
            {{ form.new_password2 }}
        </p>
        <button type="submit">Reset Password</button>
    </form>
</div>
{% endblock %}